# Lab Assignment 6

## Chapter 11 Time Series

In [1]:
# Import Series and DataFrame into local namespace
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
# Import Matplotlib
import matplotlib.pyplot as plt
# Import datetime
from datetime import datetime

## Problem 1

#### In this problem, you  will type out the input lines In [12] thorugh In [23] on pages 324-325 of the textbook.

In [2]:
# Insert commenting and code in this cell.
#Importing datetime from datetime.
from datetime import datetime
#Creating a time object.
now = datetime.now()
#Calling the object to display it to the screen.
now
#Displaying the year, month, and day in numerical format.
now.year, now.month, now.day
#Creating a variable to represent the temporal difference.
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
#Displaying delta
delta
#Displaying the days value in delta.
delta.days
#Displaying the seconds value in delta.
delta.seconds
#Importing the timedelta libary.
from datetime import timedelta
#Creating a datetime object.
start = datetime(2011, 1, 7)
#Adding 12 to the date and 2 blank value to fill the entirety of delta.
start + timedelta(12)
#Multiplying the new timedelta by 2 and subtracting it from start.
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## Problem 2

#### In this problem, you wil convert between a string and datetime. Complete In [24] - In [26] on page 325 of the textbook.

In [3]:
# Insert commenting and code in this cell.
#Creating a datetime object called stamp in order to convert between a string and datetime.
stamp = datetime(2011, 1, 3)
#Typecasting the stamp datetime object into a string.
str(stamp)
#Formatting the str object so it looks more like a time object.
stamp.strftime('%Y-%m-%d')

'2011-01-03'

## Problem 3

#### In this problem, you complete In [41] - In [49] on pages 328-329 of the textbook.

In [4]:
# Insert commenting and code in this cell.
#Importing datetime.
from datetime import datetime
#Creating a list of tuples and assigning it to a variable called dates.
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
#Creating a series of random values.
ts = pd.Series(np.random.randn(6), index=dates)
#Displaying the series.
ts
#Displaying the index of ts.
ts.index
#Performing arithmetic operations over differently indexed time series.
ts + ts[::2]
#Performing the dtype operation on the ts index to see what data type it is.
ts.index.dtype
#Finding the first element in the time series and assigning it to a variable.
stamp = ts.index[0]
#Displaying the contents of the variable.
stamp

Timestamp('2011-01-02 00:00:00')

## Problem 4

#### In this problem, you will work with time series with duplicate values. Complete the In [65] - In [73] on pages 332-333 of the textbook.

In [5]:
# Insert commenting and code in this cell.
#Creating an index with duplicate data.
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
#Creating a time series.
dup_ts = pd.Series(np.arange(5), index=dates)
#Displaying the contents of dup_ts.
dup_ts
#Checking if the index is unique.
dup_ts.index.is_unique
#Checking the index value of 1/3/2000.
dup_ts['1/3/2000']
#Grouping the data.
grouped = dup_ts.groupby(level=0)
#Finding the mean of the grouped data.
grouped.mean()
#Finding the count of the data.
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Problem 5

#### In this problem, you will work on generating date ranges. Complete In [76] - In [82] on pages 334-336 of the textbook.

In [6]:
# Insert commenting and code in this cell.
#Generating a date time index.
index = pd.date_range('2012-04-01', '2012-06-01')
#Displaying the index to the screen.
index
#Generating daily time stamps.
pd.date_range(start='2012-04-01', periods=20)
#Passing a date for the daily time stamps to end at.
pd.date_range(end='2012-06-01', periods=20)
#Creating a time index that has the last business day of each month.
pd.date_range('2000-01-01', '2000-12-01', freq='BM')
#Preserving the time of the start or end timestamp.
pd.date_range('2012-05-02 12:56:31', periods=5)
#Generating a set of timestamps normalized to midnight as a convention.
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## Problem 6

#### In this problem, you will demonstrate the usage of frequencies and date offsets. Complete In [83] - In [92] on pages 336-337 of the textbook.

In [13]:
# Insert commenting and code in this cell.
#Importing packages.
from pandas.tseries.offsets import Hour, Minute
#Creating an hour object.
hour = Hour()
#Displaying hour.
hour
#Defining multiple offsets.
four_hours = Hour(4)
#Displaying the contents of four_hours.
four_hours
#Creating a datarange.
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')
#Grabbing the third friday of each month.
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
#Typecasting rng into a list.
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## Problem 7

#### In this problem, you will demonstrate a basic time zone handling problem. Complete In [112] - In [119] on pages 341-342 of the textbook.

In [19]:
# Insert commenting and code in this cell.
#Importing a library.
import pytz
#Finding common timezones.
pytz.common_timezones[-5:]
#Creating a timezone object.
tz = pytz.timezone('America/New_York')
#Displaying the timezone object.
tz
#Creating a data range.
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
#Creating a time series.
ts = pd.Series(np.random.randn(len(rng)), index=rng)
#Displaying the time series.
ts
#Displaying the tz field.
print(ts.index.tz)

2012-03-09 09:30:00    1.115621
2012-03-10 09:30:00    0.395002
2012-03-11 09:30:00    1.144441
2012-03-12 09:30:00    0.888881
2012-03-13 09:30:00    0.270048
2012-03-14 09:30:00   -1.379568
Freq: D, dtype: float64

## Problem 8

#### In this problem, you will demonstrate operations between different time zones. Complete In [144] - In [150] on page 345 of the textbook.

In [20]:
# Insert commenting and code in this cell.
#Creating a date range.
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
#Creating a time series.
ts = pd.Series(np.random.randn(len(rng)), index=rng)
#Displaying the contents of the time series.
ts
#Creating a variable only for Europe/London.
ts1 = ts[:7].tz_localize('Europe/London')
#Creating a variable only for Europe/Moscow.
ts2 = ts1[2:].tz_convert('Europe/Moscow')
#Creating a variable that equals the combination of ts1 and ts2.
result = ts1 + ts2
#Displaying all of the indices inside of the new variable.
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## Problem 9

#### In this problem, you will work with period arithmetic. Complete In [151] - In [162] on pages 345-346 of the textbook.

In [21]:
# Insert commenting and code in this cell.
#Creating a period.
p = pd.Period(2007, freq='A-DEC')
#Displaying the period.
p

Period('2007', 'A-DEC')

## Problem 10

#### In this problem, you will be working with the pandas resample method to resample data. Complete In [210] - In [214] on pages 354-355 of the textbook.

In [22]:
# Insert commenting and code in this cell.
#Creating a range.
rng = pd.date_range('2000-01-01', periods=100, freq='D')
#Creating a series that has the range be it's index.
ts = pd.Series(np.random.randn(len(rng)), index=rng)
#Displaying the series. 
ts
#Working frequency conversion and finding the mean of it.
ts.resample('M').mean()
#Finding the mean of the period.
ts.resample('M', kind='period').mean()

2000-01    0.091852
2000-02   -0.049486
2000-03   -0.169958
2000-04    0.008519
Freq: M, dtype: float64