# Lab Assignment 7

## Chapter 12 Advanced pandas

In [1]:
# Import Series and DataFrame into local namespace
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
# Import Matplotlib
import matplotlib.pyplot as plt
# Import datetime
from datetime import datetime

## Problem 1

#### In this problem, you  will type out the input lines In [12] thorugh In [21] on pages 369-370 of the textbook.

In [2]:
# Insert commenting and code in this cell.
#Importing numpy and pandas.
import numpy as np; import pandas as pd
#Creating a series.
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
#Displaying the values.
values
#Extracting unique values.
pd.unique(values)
#Comparing frequencies.
pd.value_counts(values)
#Creating a series.
values = pd.Series([0, 1, 0, 0] * 2)
#Creating another series.
dim = pd.Series(['apple', 'orange'])
#Displaying the series.
values
#Displaying the other series.
dim
#Restoring the original values.
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

## Problem 2

#### In this problem, you will type out the input lines In [22] - In [42] on pages 371-373 of the textbook.

In [3]:
# Insert commenting and code in this cell.
#Creating a list an multiplying the elements by 2.
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
#Creating a variable and assigning it the length of the list.
N = len(fruits)
#Creating a dataframe.
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                   columns=['basket_id', 'fruit', 'count', 'weight'])
#Displaying the dataframe.
df
#Converting one of the columns to a categorical object.
fruit_cat = df['fruit'].astype('category')
#Displaying the column.
fruit_cat
#Grabbing the values of fruit_cat and assigning them to a variable.
c = fruit_cat.values
#grabbing the type of the variable.
type(c)
#Grabbing the category attributes.
c.categories
#Grabbing the codes attributes.
c.codes
#Converting a dataframe column to categorical by assigning the converted result.
df['fruit'] = df['fruit'].astype('category')
#Displaying the category.
df.fruit
#Making a set of categories.
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
#Displaying the categories.
my_categories
#Creating a list of categories.
categories = ['foo', 'bar', 'baz']
#Creating a list of codes.
codes = [0, 1, 2, 0, 0, 1]
#Converting the codes to category types and assigning it to a variable.
my_cats_2 = pd.Categorical.from_codes(codes, categories)
#Displaying the newly converted categories.
my_cats_2
#Using from_codes to give the categories a meaningful order.
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
#Displaying ordered_cat to the screen.
ordered_cat
#Ordering an unordered instance.
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

## Problem 3

#### In this problem, you will type out the input lines In [43] - In [54] on pages 373-375 of the textbook.

In [4]:
# Insert commenting and code in this cell.
#Generating random numbers based off of the specified clock speed.
np.random.seed(12345)
#Generating a random number and assigning it to a variable.
draws = np.random.randn(1000)
#Displaying the array in the 6th position.
draws[:5]
#Using qcut binning function.
bins = pd.qcut(draws, 4)
#Displaying the contents of bins.
bins
#Applying the qcut function.
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
#Displaying the contents of bins.
bins
#Displaying the first 10 elements.
bins.codes[:10]
#Creating a series.
bins = pd.Series(bins, name='quartile')
#Using groupby to extract summary statistics.
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
#Displaying the sorted series to the user.
results
#Displaying only the quartile column.
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

## Problem 4

#### In this problem, you  will type out the input lines In [55] - In [61] on page 375 of the textbook.

In [5]:
# Insert commenting and code in this cell.
#Creating a variable.
N = 10000000
#Creating a series from the variable we created above.
draws = pd.Series(np.random.randn(N))
#Creating a series with distinct values.
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
#Converting labels to a categorical.
categories = labels.astype('category')
#Checking the memory usage from labels.
labels.memory_usage()
#Checking the memory usage from categories.
categories.memory_usage()
#Computing conversion to category cost.
%time _ = labels.astype('category')

Wall time: 350 ms

## Problem 5

#### In this problem, you  will type out the input lines In [62] - In [76] on page 376-378 of the textbook.

In [6]:
# Insert commenting and code in this cell.
#Creating a series.
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
#Categorizing the series.
cat_s = s.astype('category')
#Displaying the series.
cat_s
#Accessing the categorical methods.
cat_s.cat.codes
cat_s.cat.categories
#Creating a set of categories.
actual_categories = ['a', 'b', 'c', 'd', 'e']
#using the set_categories method to change the categories.
cat_s2 = cat_s.cat.set_categories(actual_categories)
#Displaying the catefories.
cat_s2
#Displaying all of the categories with value_counts() for both sets of series.
cat_s.value_counts()
cat_s2.value_counts()
#Making a new series out of a subset from the last series.
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
#Displaying the newly formed series.
cat_s3
#Using a method to remove the unused categories.
cat_s3.cat.remove_unused_categories()
#Creating a categorized series and assigning it to a variable.
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')
#Using the pandas.get_dummies function to convert a one-dimensional categorical data into a DataFrame containing the dummy variable.
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

## Problem 6

#### In this problem, you  will type out the input lines In [77] - In [101] on page 379-384 of the textbook.

In [7]:
# Insert commenting and code in this cell.
#Creating a dataframe.
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,
                   'value': np.arange(12.)})
#Displaying the dataframe.
df
#Displaying the group means by key.
g = df.groupby('key').value
#Displaying the mean of each key.
g.mean()
#Passing the lambda function to transform.
g.transform(lambda x: x * 2)
#Passing the lambda function to transform.
g.transform(lambda x: x.mean())
#passing a string alias as with the GroupBy agg method
g.transform('mean')
#Computing the ranks in descending order for each group.
g.transform(lambda x: x.rank(ascending=False))
#Creating a function.
def normalize(x):
    return (x - x.mean()) / x.std()
#obtain equivalent results in this case either using transform or apply.
g.transform(normalize)
#Applying normalize to the dataset.
g.apply(normalize)
#Creating an unwrapped group operation put of statistical functions.
g.transform('mean')
#Creating a normalized function.
normalized = (df['value'] - g.transform('mean')) / g.transform('std')
#Displaying the conents of normalized.
normalized
#Creating a variable.
N = 15
#Creating a times variable and assigning it a date range.
times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)
#Creating a dataframe.
df = pd.DataFrame({'time': times,
                   'value': np.arange(N)})
#Displaying the dataframe.
df
#Resampling the dataframe under time.
df.set_index('time').resample('5min').count()
#Marking the dataframe with additional group key columns.
df2 = pd.DataFrame({'time': times.repeat(3),
                    'key': np.tile(['a', 'b', 'c'], N),
                    'value': np.arange(N * 3.)})
#Displaying the first 7 indices.
df2[:7]
#Using TimeGrouper to resample each value of key.
time_key = pd.Grouper(freq='5min')
#Aggregating the dataframe indices with time_key and 'key'.
resampled = (df2.set_index('time')
             .groupby(['key', time_key])
             .sum())
#Displaying resampled.
resampled
#Resetting the index.
resampled.reset_index()

  key                time  value
0   a 2017-05-20 00:00:00   30.0
1   a 2017-05-20 00:05:00  105.0
2   a 2017-05-20 00:10:00  180.0
3   b 2017-05-20 00:00:00   35.0
4   b 2017-05-20 00:05:00  110.0
5   b 2017-05-20 00:10:00  185.0
6   c 2017-05-20 00:00:00   40.0
7   c 2017-05-20 00:05:00  115.0
8   c 2017-05-20 00:10:00  190.0