# Chapter 6 Data Loading, Storage, and File Formats

In [4]:
# Import Series and DataFrame into local namespace
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Problem 1

#### In this problem, you will use read_csv to read ex1.csv as a file. Type in the code to read the file and display the contents. Look for ex1.csv from the Textbook Example files (zip format) in Week 4 Moodle. The ex1.csv file needs to be in the same folder as this file.

In [16]:
# Insert commenting and code in this cell.

#Assinging a variable to the read file.
df = pd.read_csv('ex1.csv')
#Displaying the contents.
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Problem 2

#### In this problem, you will read text files in pieces. You will use ex6.csv (see problem 1 above on how to get these files). Let's make the pandas display settings more compact. Then read in ex6.csv and display the contents.

In [18]:
# Insert commenting and code in this cell.
#Assinging a variable to the read file.
result = pd.read_csv('ex6.csv')
#Making display settings more compact.
pd.options.display.max_rows = 10
#Displaying the contents.
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

# Run the following commands in the Anaconda prompt (before moving on to Problem 4). 
conda install lxml
pip install beautifulsoup4 html5lib

## Problem 3

#### In this problem, you will search an HTML file and display the contents. The file you will need is fdic_failed_bank_list.html.

In [20]:
# Insert commenting and code in this cell.
#Assinging a variable to the read file.
tables = pd.read_html('fdic_failed_bank_list.html')
#Making display settings more compact.
#pd.options.display.max_rows = 10
#Displaying the contents.
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

## Problem 4

#### In this problem, you will create an instance of the ex1.xlsx Excel file. You will then read it into a DataFrame with parse and dislay the contents of Sheet1.

In [23]:
# Insert commenting and code in this cell.
#Creating an instance of the ex1.xlsx file.
xlsx = pd.ExcelFile('ex1.xlsx')
#Displaying the contents of the file.
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

# Chapter 7 Data Cleaning and Preparation

## Problem 5

#### In this problem, you will filter out missing data using dropna.<br>
Create a DataFrame with the following:<br>
[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]<br>
1) Set up DataFrame named data with the values above<br>
2) Display the contents of data<br>
Use a different input for the second part<br>
3) Set up a variable named cleaned which will call up data with the dropna method<br>
4) Display the contents of cleaned<br>

In [ ]:
# Insert commenting and code in this cell.

## Problem 6

#### In this problem, you will remove duplicates from a DataFrame named data.<br>
1) Create a dictionary called data with the key-value pairs presented below:<br>
k1: one, two, one, two, one, two, two<br>
k2: 1, 1, 2, 3, 3, 4, 4<br>
2) Display data<br>
3) Insert a new Input line<br>
4) Use the drop_duplicates() on data<br>
5) Display contents of data (with removal of duplicates)

In [ ]:
# Insert commenting and code in this cell.

## Problem 7

#### In this problem, you will create a Series named data and replace values. 
1) Create a Series named data with tehf values - [1., -999., 2., -999., -1000., 3.]<br>
2) Display the contents of data<br>
3) Insert a new Input line<br>
4) Use the replace method to replace all instances of -999 with NaN<br>

In [ ]:
# Insert commenting and code in this cell.

## Problem 8

#### In this problem, you will take a comma-separated string and break it into separate pieces using split.<br>
1) Create a string called val with 'a,b,johnson'<br>
2) Split the string named val into a separate set of pieces.

In [ ]:
# Insert commenting and code in this cell.

# Chapter 8 Data Wrangling: Join, Combine, and Reshape

## Problem 9

#### In this problem, you will use a database-style DataFrame join. 
1) Create a dataFrame named df1 with the following: {'key': ['b', 'b', 'a', 'c, 'a', 'a', 'b'], 'data1': (range(7)<br>
2) Create a dataFrame named df2 with the following: {'key': ['a', 'b', 'd'], 'data2': (range(3)<br>
3) Display the contents of df1 and df2<br>
4) Steps 1 and 2 should be done in separate Input lines<br>
5) Create a merge on key - pd.merge(df1, df2, on='key')

In [ ]:
# Insert commenting and code in this cell.

## Problem 10

#### In this problem, you will conduct replicate the Pivoting "Wide" to "Long" Format operation on textbook pages 253-254 under the heading "Pivoting "Wide" to "Long" Format. Stop after the melted operation (right before sentence "Using pivot, we can reshape...)

In [ ]:
# Insert commenting and code in this cell.